/* Red seems fiiting here */
body {
    background: radial-gradient(#ffc8c8, #ff9898, #ff0000);
    color: #000000;
}

/* Title of Poem */
h1 {
    color: #000000;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Author Credit */
h2 {
    color: #cecece;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Main Body */
p {
    color: #ffffff;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Description of Links */
h3 {
    color: #000000;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Links */
h4 {
    color: #000000;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Hyperlink Details */
a:visited {
    color: rgb(0, 0, 0);
}