body {
    background-image: url(Texture.jpg);
    background-position-x: -160px;
    color: #000000;

}

h2 {
    font-style: oblique;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 160px;
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .2px;
}


h1 {
    color: #ffffff;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.center {
    display: block;
    width: 30%;
    align-items: center;
    margin-left: 710px;
    /*Manually alligned*/
}

h3 {
    /* main text */
    color: #000000;
    font-size: 30px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: .2px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

h4{
    margin-left: 160px;
    color: #004bbb;
    font-size: 20px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: .2px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    /* WOTC Trademark */
    color: #04fcdb;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    font-family: times new roman, arial;
    text-align: center;
    margin-left: 160px;
}

.sidenav {
    /* Other pages not made yet*/
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5e0d0d;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: #c95252;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

table, th, td {
    border:5px solid rgb(78, 6, 6);
    text-shadow: 1px 1px 1px;
    color: #ffffff;
    margin-left: 160px;
  }

